name: Build Kivy APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3-pip \
          openjdk-17-jdk \
          git \
          unzip \
          zip \
          libffi-dev \
          libssl-dev \
          libncurses5-dev
          
          
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      
        
      
    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools wheel
        pip install cython buildozer
        
    - name: Build with Buildozer
      run: |
        buildozer -v android debug
        # Убери 'yes |' - это может ломать пайпы
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: bin/*.apk
        retention-days: 30
