name: Build Kivy APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip openjdk-17-jdk git
        pip install buildozer
        
    - name: Build APK with Buildozer (auto-confirm)
      run: |
        # Автоматически подтверждаем все запросы Buildozer
        yes | buildozer -v android debug
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: bin/*.apk
        retention-days: 30