name: Build Kivy APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Build with Buildozer
      uses: ugorji/buildozer-action@v1
      with:
        requirements: python3,kivy
        
    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app-apk
        path: bin/*.apk
